.navigation {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background: #000;
  color: #fff;
  border-right: 1px solid rgb(37, 19, 19);
}
.logo {
  margin: 40px 0;
  text-align: center;
  font-size: 25px;
}
.logo span {
  color: red;
  font-size: 12px;
}
.active {
  color: red !important;
}

.menu {
  list-style: none;
  padding: 20px;
}
.menu a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 25px 15px;
}

@media (max-width: 816px) {
  .logo {
    display: none;
  }
  .active {
    color: #fff !important;
    background-color: red;
    font-size: 14px !important;
    padding: 5px;
  }

  .navigation {
    border-top: 1px solid rgba(62, 34, 34, 0.387);

    display: block;
    position: fixed;
    flex-direction: row;
    bottom: 0px;
    height: 50px;
    top: initial;
    color: #fff;
    z-index: 10;
    background: rgb(0, 0, 0);
    width: 100%;
  }
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .menu-item {
    display: inline-block;
    align-items: center;
  }
  .menu a {
    color: #fff;
    margin: 10px;
  }
}
